@import "../../../color_variables.scss";

.footer{
   background-color: $backColor;
   color: $foreColor;
   text-align: center;
   padding: 20px;
}

.footer-links{
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
}

.footer-links a{

    text-decoration: none;
    color: $foreColor;
    margin: 0 10px;
    font-weight: bold;
   font-size: 16px;
   font-style: italic;
}
.footer-links a:hover{
    color: $yColor;
    cursor: pointer;
}