<div class="form-container">
    <p style="text-align: center;font-size: 25px;">Contact Me</p>
    <form [formGroup]="userForm">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name">

        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email">
        <label for="email">Country:</label>
        <input type="country" id="country" formControlName="email">

        <label for="message">Message:</label>
        <textarea id="message" formControlName="message" rows="4"></textarea>

        <button (click)="onSubmit()">Submit</button>
    </form>
</div>