
<div class="skills-container">
          <h1 class="text-primary">My Skills</h1>
</div>

<div class="container">
  <div class="skill-box">
    <div class="skills-title">
      <h3>CSS</h3>
    </div>
    <p>CSS is the acronym of “Cascading Style Sheets”. CSS is a computer language for laying out and structuring web
      pages (HTML or XML). This language contains coding elements and is composed of these “cascading style sheets”
      which are equally called CSS files.
    </p>
  </div>
  <div class="skill-box">
    <div class="skills-title">
      <h3>Java Script</h3>
    </div>
    <p>JavaScript is a scripting language used to develop web pages. Developed in Netscape, JS allows developers to
      create a dynamic and interactive web page to interact with visitors and execute complex actions. It also enables
      users to load content into a document without reloading the entire page.
    </p>
  </div>
  <div class="skill-box">
    <div class="skills-title">
      <h3>TypeScript</h3>
    </div>
    <p>TypeScript is a programming language that adds extra functionality to JavaScript. JavaScript was never intended
      to drive complex frontend and backend applications. It was initially designed to add simple interactivity to
      websites; for example, to make clicky buttons and animate drop-down menus.
    </p>
  </div>
  <div class="skill-box">
    <div class="skills-title">
      <h3>Bootstrap</h3>
    </div>
    <p>Bootstrap is a free, open source front-end development framework for the creation of websites and web apps.
      Designed to enable responsive development of mobile-first websites, Bootstrap provides a collection of syntax for
      template designs.
    </p>
  </div>
  <div class="skill-box">
    <div class="skills-title">
      <h3>jQuery</h3>
    </div>
    <p>jQuery is a lightweight, "write less, do more", JavaScript library. The purpose of jQuery is to make it much
      easier to use JavaScript on your website. jQuery takes a lot of common tasks that require many lines of JavaScript
      code to accomplish, and wraps them into methods that you can call with a single line of code.
    </p>
  </div>
  <div class="skill-box">
    <div class="skills-title">
      <h3>HTML 5</h3>
    </div>
    <p>HTML stands for Hyper Text Markup Language. HTML is the standard markup language for creating Web pages. HTML
      describes the structure of a Web page. HTML consists of a series of elements. HTML elements tell the browser how
      to display the content.
    </p>
  </div>
</div>
