<app-navbar></app-navbar>

<div class="container">
    <section class="section">
        <div class="section_container">
            <div class="title">
                <h1 class="title">Hello, I am <span>Senior Software Engineer</span></h1>
                <div>
                    <img src="../assets/imagges/about.jpg" alt="Profile">
                </div>
                <h1>Summary:</h1>
            </div>
            <p class="description">

                With over <b>6 years</b> of experience in developing robust web applications and enhancing user interfaces. Proficient in <b><i>Angular</i></b>, <b><i>ASP.NET Core</i></b>, and <b><i>API integration</i></b>, with a proven track record of delivering high-impact solutions in <b><i>banking</i></b>, <b><i>education</i></b>, and <b><i>healthcare</i></b> sectors. Successfully led projects including <b><i>Hospital Management</i></b>, <b><i>Education Management</i></b>, <b><i>Accounts Management</i></b>, and <b><i>Inventory Management</i></b> systems. Skilled in integrating with third-party services, implementing real-time communication using <b><i>SignalR</i></b>, and securing applications using <b><i>OAuth</i></b> and <b><i>JWT</i></b> tokens.

                Experienced in <b><i>cloud deployment</i></b> on platforms such as <b><i>Alibaba Cloud</i></b>, <b><i>Microsoft Azure</i></b>, and <b><i>AWS</i></b>, ensuring scalable and reliable delivery of enterprise applications. Adept at leveraging <b><i>GitHub Copilot</i></b> to boost productivity and code quality. Eager to apply <b><i>full stack expertise</i></b> to deliver innovative, scalable solutions for forward-thinking organizations.
            </p>
            <div class="action-btns">
                <button (click)="goToContact()" class="hire-me">Hire me</button>
                <button (click)="downloadCV()" class="download-cv">Download CV</button>
            </div>


        </div>
    </section>
</div>
<app-footer></app-footer>