<app-navbar></app-navbar>

<div class="container">
    <section class="section">
        <div class="section_container">
            <div class="title">

                <h1 class="title">Hello, I am <span>Software Engineer.</span></h1>
                <div>
                    <img src="../assets/imagges/about.png" alt="Profile">
                </div>
                <h1>Summary:</h1>
            </div>
            <p class="description">

                Having 5 Years Plus of IT experience in complete software development life cycle
                (SDLC) which includes analysis, designing, architecture, programming, testing,
                debugging and maintenance of client-server applications using Microsoft Technology
                frameworks from .Net 2.0 to 6.0, languages are C#.NET, ADO.NET, LINQ, technologies
                and services like ASP.NET Web forms, Web Controls, Win Forms, Web API, Web
                Service, ASP.NET Core, Entity Framework , databases like SQL Server, My SQL, MS
                Access, MS Excel, Internet related front-end technologies like HTML, JavaScript ,
                TypeScript and Angular 8+.
                Experience in Web development using ASP.Net, Kendo UI, Ajax, CSS, HTML,
                JavaScript and IIS6.0/7.0.
                Hands of experience in SQL Server to create Table and Store Procedures.
                Experience in using advanced .NET technologies including LINQ, Entity Framework.
            </p>
            <div class="action-btns">
                <button class="hire-me">Hire me</button>
                <button class="download-cv">Download CV</button>
            </div>


        </div>
    </section>
</div>
<app-footer></app-footer>