<div class="container">
    <h1 class="text-primary">My Projects</h1>
</div>
<div class="container">
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_5terre.jpag">
                <img src="./../assets/imagges/bank.jpeg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">

                <P>
                    <b>Website Title</b> : Bank<br>
                    <b>Company :</b> TenX Pvt. Ltd. Lahore Pakistan.<br>
                    <b>Duration :</b> 7 April 2022 to Current<br>
                    <b> Description:</b> Banks are the government certified and highly regulated financial
                    authorities.My role in this website as team member in Designing module using HTML, CSS,
                    Angular.

                </P>

            </div>
        </div>
    </div>



    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_forest.jpg">
                <img src="./../assets/imagges/cars.jpeg" alt="Forest" width="100" height="100">
            </a>
            <div class="desc">

                <P>
                    <b>Website Title</b> : Inventory Car Parts<br>

                    <b>Company :</b>Wael Al-Shehli Project.Pvt. Ltd. Lahore Pakistan. <br>
                    <b>Duration :</b> April 2017 to December 2017<br>
                    <b> Description:</b> : My role was as a team member in Designing and developing applications using
                    Window Forms. My Job responsibilities included designing the Interactive Graphical.
                </P>

            </div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
                <img src="../assets/imagges/pg.jpeg" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">

                <P>
                    <b>Website Title</b> : Framework of Plagiarism <br>

                    <b>Company :</b> Virtual University Pvt. Ltd. Lahore Pakistan..<br>
                    <b>Duration :</b> April 2016 to March 2017.<br>
                    <b> Description:</b>I worked on this project as a single person. This project was based on window
                    forms.This can read and find the plagiarism.


                </P>

            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
                <img src="../assets/imagges/account.jpeg" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">

                <P>
                    <b>Website Title</b> : : Accounts<br>
                    <b>Company :</b> H3 Solutions Pvt. Ltd Lahore Pakistan.<br>
                    <b>Duration :</b> September 2020 to 2022<br>
                    <b> Description:</b> My role in this website as a team member in the Designing module using HTML,
                    CSS, javascript, bootstrap, typescript, Angular. My Job responsibilities included designing the
                    Interactive Graphical.

                </P>

            </div>

        </div>
    </div>
    <br>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
                <img src="../assets/imagges/easy.jpeg" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">

                <P>
                    <b>Website Title</b> : Easy Ware Solutions<br>

                    <b>Company :</b> Easy Ware Solutions Pvt. Ltd. Lahore Pakistan.<br>
                    <b>Duration :</b> November 2024 to Current<br>
                    <b> Description:</b>EasyWare Solutions is a Saudi Arabian-based information technology company. My role in this application is to
                    develop both back end APIs and design front
                    end according to the requirements .
                </P>


            </div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_mountains.jpg">
                <img src="../assets/imagges/hms.jpeg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">

                <P>
                    <b>Website Title</b> : HMS<br>

                    <b>Company :</b> Easy Ware Solutions Pvt. Ltd. Lahore Pakistan.<br>
                    <b>Duration :</b> April 2016 to Dec 2017<br>
                    <b> Description:</b>My role was as a team member in Designing using Window
                    Forms. My role in this website as a team member in the Designing module using HTML,
                    CSS,Bootstrap,Javascript, and Angular.

                </P>


            </div>

        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_mountains.jpg">
                <img src="../assets/imagges/lms.jpeg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">

                <P>
                    <b>Website Title</b> : LMS<br>

                    <b>Company :</b> Misali Ravian School Faisalabad.<br>
                    <b>Duration :</b> October 2019 to August 2020<br>
                    <b> Description:</b>My role in this web application was as team lead in the Designing module using
                    HTML, CSS, and writing Web APIs.My role in this application is to develop both back end APIs and design front
                    end according to the requirements and also deploy back end.....
                </P>


            </div>

        </div>
    </div>

    <div class="clearfix"></div>


</div>