
<div class="container">
    <h1 class="text-primary">About Projects!</h1>
</div>
<div class="container">
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_5terre.jpag">
                <img src="../assets/imagges/build.webp" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">

                <P>
                    <b>Website Title</b> : Bank<br>
                    <b>Company :</b> TenX Pvt. Ltd. Lahore Pakistan.<br>
                    <b>Duration :</b> 7 April 2022 to Current<br>
                    <b> Description:</b> My role in this website as team member in Designing module using HTML, CSS,
                    Angular. My
                    Job responsibilities included designing the Interactive User Interface, merging

                </P>
                <button class="button">Read more</button>

            </div>
        </div>
    </div>



    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_forest.jpg">
                <img src="../assets/imagges/parts.jpg" alt="Forest" width="600" height="300">
            </a>
            <div class="desc">

                <P>
                    <b>Website Title</b> : Inventory Car Parts<br>

                    <b>Company :</b>Wael Al-Shehli Project.<br>
                    <b>Duration :</b> April 2017 to December 2017<br>
                    <b> Description:</b> : My role was as a team member in Designing and developing applications using
                    Window
                    Forms. My Job responsibilities included designing the Interactive Graphical.

                </P>
                <button class="button">Read more</button>
            </div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
                <img src="../assets/imagges/plagiarism.webp" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">

                <P>
                    <b>Website Title</b> : Framework of Plagiarism <br>

                    <b>Company :</b> Virtual University Of Pakistan Lahore.<br>
                    <b>Duration :</b> April 2016 to March 2017.<br>
                    <b> Description:</b>I worked on this project as a single person. This project was based on window
                    forms.
                    This can read and find the plagiarism.

                </P>
                <button class="button">Read more</button>
            </div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
                <img src="../assets/imagges/account.jpeg" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">

                <P>
                    <b>Website Title</b> : : Accounts<br>
                    <b>Company :</b> H3 Solutions Pvt. Ltd. Faisalabad.<br>
                    <b>Duration :</b> September 2020 to March 2022<br>
                    <b> Description:</b> My role in this website as a team member in the Designing module using HTML,
                    CSS,
                    Angular
                    8 and writing APIs on back end.

                </P>
                <button class="button">Read more</button>
            </div>

        </div>
    </div>
    <br>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_lights.jpg">
                <img src="../assets/imagges/easy.webp" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">

                <P>
                    <b>Website Title</b> : Easy Ware Solutions<br>

                    <b>Company :</b> Easy Ware Solutions Pvt. Ltd.<br>
                    <b>Duration :</b> November 2024 to Current<br>
                    <b> Description:</b> My role in this application is to develop both back end APIs and design front
                    end according to the requirements and also deploy back end.

                </P>
                <button class="button">Read more</button>

            </div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_mountains.jpg">
                <img src="../assets/imagges/manage.webp" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">

                <P>
                    <b>Website Title</b> : Hospital Management System<br>

                    <b>Company :</b> Easy Ware Solutions Pvt. Ltd.<br>
                    <b>Duration :</b> April 2016 to Dec 2017<br>
                    <b> Description:</b>My role was as a team member in Designing using Window
                    Forms.

                </P>
                <button class="button">Read more</button>

            </div>
            <!-- <a href="a" class="btn">Read more</a> -->
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="img_mountains.jpg">
                <img src="../assets/imagges/edu.webp" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">

                <P>
                    <b>Website Title</b> : EMS<br>

                    <b>Company :</b> Misali Ravian School Faisalabad.<br>
                    <b>Duration :</b> October 2019 to August 2020<br>
                    <b> Description:</b>My role in this web application was as team lead in the Designing module using
                    HTML,
                    CSS,
                    Angular 8 and writing Web APIs.
                </P>
                <button class="button">Read more</button>

            </div>
            <!-- <a href="a" class="btn">Read more</a> -->
        </div>
    </div>

    <div class="clearfix"></div>


</div>



